/* Estilo para a tabela */
.table-custom {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-custom th, .table-custom td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-custom th {
    background-color: #b19dc6;
    color: white;
}

.table-custom tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-custom tr:hover {
    background-color: #d1e7dd;
    cursor: pointer;
}
