<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tabela de Notas</title>

    <!-- Link para o arquivo css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1 style="text-align:center">Tabela de Notas</h1>

    <div>
        <!-- Renderização da tabela gerada pelo dataframe -->
        {{ table | safe }}

        <!-- Link para retornar à página inicial -->
        <a href="/">Back to Index page</a>
    </div>
</body>

</html>